body{
    background: top center;
    background-color: #f7f7f7;
    background-size: cover;
}
    

#header-section {
    display: block;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 23px;
    padding-bottom: 25px;
    margin: 0 auto;
    height: auto;
}
.header-aside {
    display: flex;
    float: right;
    align-items: center;
    line-height: normal;
    height: auto;
    bottom: 0;
    top: 0;
}

#header-aside-item-social{
    margin: 0 8px 0 20px;
    padding: 8px;
    height: 20;
    width: 23;
}
#header-button-menu{ 
    margin: 0 8px 0 20px;
    padding: 8px;
    order: 1;
    position: static;
    top: 0;
    height: auto;
    width: auto;
    line-height: normal;
}
#header-button-menu:hover {
    color: #a5a5a5;
}

#header-button-menu {
    margin-left: 20px;
}
#header-section .fa {
    color:#A5A5A5;
    font-size:16px;
}

.logo-wrap-home{
    display: block;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 7px;
    width: 100%;
    max-width: 1400px;
    padding: 20 7px 0 7px;
    
}

   

/* Mobile*/
#logo_homepage {
    margin: 0 auto;
    width: 200px;
    height: 56px;
    background-image: url(https://duckduckgo.com/assets/logo_homepage_mobile.normal.v108.unoptimized.svg);
    background-size: 100% 100%;
    color: transparent;
    display: block;
    position: relative;
} 
/*
#logo_homepage {
    width: 205px;
    height: 200px;
    display: block;
    position: relative;
    margin: 0 auto;
    background-image: url(https://duckduckgo.com/assets/logo_homepage.normal.v108.svg);
    color: transparent;
}
*/
#logo_homepage {
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: 100%;
}

.wrap{
   display: flex; 
   justify-content: center;
   margin: 30px;
  
}

.search-box{
    width: 50%;
    position: relative;
    overflow: hidden;
}

.search-box input[type="text"]{
width: 100%;
padding: 11px;
padding-right: 60px;
box-sizing: border-box;
border: 1px solid rgba(0,0,0,0.15);
box-shadow: 0 2px 3px rgba(0,0,0,0.06);
border-radius: 4px ;
font-size: 18px;
color: #ffffff;
outline: none;
}

.fa-search {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    right: 20px;
    color: #999;
    font-size: 25px;
}
#search-button{
    
    background-color: transparent;
    cursor: pointer;
    border: none;
}
#search-button :hover{
    background-color: #66ad57;
    color: white;
    width: 50px;
    height: 35px; 
}




@media screen and (max-width: 425px){
    .search_box{
      width: 95%;
    }
}